{% extends "base.html" %}
{% block title %}{{ 'Редактирование' if subject else 'Новый предмет' }}{% endblock %}

{% block content %}
<div class="card">
    <h1>
        {% if subject %}
            <i class="fas fa-edit"></i> Редактировать предмет
        {% else %}
            <i class="fas fa-plus-circle"></i> Новый предмет
        {% endif %}
    </h1>

    <form method="POST">
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" name="name" 
                   value="{{ subject.name if subject }}" 
                   required>
        </div>

        <button type="submit" class="button">
            <i class="fas fa-save"></i> Сохранить
        </button>
        
        <a href="{{ url_for('list_subjects') }}" class="button">
            <i class="fas fa-times"></i> Отмена
        </a>
    </form>
</div>
{% endblock %}